<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billow.mapper.ArticleMapper">

	<resultMap type="com.billow.model.Article" id="result_base">
		<id column="article_Id" property="articleId" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="user_Id" property="userId" />
	</resultMap>

	<resultMap type="com.billow.model.Article" id="result"
		extends="result_base">
		<collection property="user" javaType="com.billow.model.User"
			ofType="com.billow.model.User" column="user_Id"
			select="com.billow.mapper.UserMapper.findUserById" />
	</resultMap>

	<sql id="conmmonSql">
		a.title,
		a.content,
	</sql>

	<select id="findArticleByUserId" resultMap="result_base"
		parameterType="int">
		select
		a.article_Id,
		<include refid="conmmonSql" />
		a.user_Id
		from t_article a
		where a.user_Id = #{userId};
	</select>

	<select id="findArticleById" resultMap="result" parameterType="int">
		select
		a.artice_Id,
		<include refid="conmmonSql" />
		a.user_Id
		from t_article a
		where a.artice_Id = #{articeId};
	</select>

	<delete id="deleteUserByArticleIds" parameterType="int">
		delete from t_article r where r.article_Id in
		<foreach collection="array" open="(" close=")" separator=","
			item="articleId">
			#{articleId}
		</foreach>
	</delete>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_article
		where article_id = #{articleId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.billow.model.Article">
		insert into t_article
		(article_id, user_id, title,
		content)
		values
		(#{articleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR},
		#{content,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.billow.model.Article">
		insert into t_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="articleId != null">
				article_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="articleId != null">
				#{articleId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.billow.model.Article">
		update t_article
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where article_id = #{articleId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.billow.model.Article">
		update
		t_article
		set user_id = #{userId,jdbcType=INTEGER},
		title =
		#{title,jdbcType=VARCHAR},
		content = #{content,jdbcType=LONGVARCHAR}
		where article_id = #{articleId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.billow.model.Article">
		update t_article
		set user_id = #{userId,jdbcType=INTEGER},
		title =
		#{title,jdbcType=VARCHAR}
		where article_id =
		#{articleId,jdbcType=INTEGER}
	</update>
</mapper>