<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billow.mapper.UserMapper">

	<!-- 返回的结果集 -->
	<resultMap type="com.billow.model.User" id="result_base">
		<id column="user_Id" property="userId" />
		<result column="user_Name" property="userName" />
		<result column="age" property="age" />
		<result column="phone_Number" property="phoneNumber" />
		<result column="password" property="password" />
	</resultMap>

	<!-- 返回的结果集 -->
	<resultMap type="com.billow.model.User" id="result" extends="result_base">
		<collection property="articles" javaType="ArrayList"
			column="user_id" ofType="com.billow.model.Article"
			select="com.billow.mapper.ArticleMapper.findArticleByUserId" />

		<collection property="roles" javaType="ArrayList"
			ofType="com.billow.model.Role" column="user_id"
			select="com.billow.mapper.RoleMapper.selectByPrimaryKey" />
	</resultMap>

	<!-- 公用查询条件 -->
	<sql id="selectCondition">
		<where>
			<if test="null != userName and '' != userName">
				u.user_Name like CONCAT('%','${userName}','%')
			</if>
			<if test="null != phoneNumber and '' != phoneNumber">
				and u.phone_Number like CONCAT('%','${phoneNumber}','%')
			</if>
			<if test="null != age">
				and u.age = #{age}
			</if>
		</where>
	</sql>

	<!-- 关联查询：关联字段user中的别名userid要与article中的userid相同 -->
	<select id="findUserList" resultMap="result" parameterType="com.billow.model.User">
		select
		u.user_id,u.user_Name,u.age,u.phone_Number,u.password from
		t_user u
		<include refid="selectCondition" />
	</select>
	<select id="findUserCount" resultType="int" parameterType="com.billow.model.User">
		select count(*) from t_user u
		<include refid="selectCondition" />
	</select>

	<select id="findUserById" resultMap="result_base">
		select r.*
		from t_user r
		where r.user_Id = #{userid};
	</select>

	<!-- useGeneratedKeys设置 为"true"表明要MyBatis获取由数据库自动生成的主 键； keyProperty="userId"指定把获取到的主键值注入到User的userId属性 -->
	<insert id="saveUserInfo" parameterType="com.billow.model.User"
		useGeneratedKeys="true" keyProperty="userId">
		insert into
		t_user(user_name,
		age,phoneNumber,password)
		values(#{userName}, #{age},
		#{phoneNumber},#{password});
	</insert>

	<update id="updateUserInfo" parameterType="com.billow.model.User">
		update t_user r set
		r.user_Name = #{userName},r.age = #{age},r.phone_Number =
		#{phoneNumber},r.password = #{password}
		where r.user_Id = #{userId};
	</update>

	<delete id="deleteUserByUserId" parameterType="int">
		delete from t_user
		where r.user_Id = #{userId};
	</delete>

	<delete id="deleteUserByUserIds" parameterType="int">
		delete from t_user
		where r.user_Id in
		<foreach collection="array" open="(" close=")" separator=","
			item="userId">
			#{userId};
		</foreach>
	</delete>
	<insert id="batchInsertUser" parameterType="java.util.List">
		insert into t_user(user_name,age,phone_Number) values
		<foreach collection="list" item="user" separator=",">
			(#{user.userName}, #{user.age}, #{user.phoneNumber},
			#{user.password})
		</foreach>
	</insert>
</mapper>