<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billow.mapper.UserMapper">

	<resultMap type="com.billow.model.User" id="result_base">
		<id column="userId" property="userId" />
		<result column="userName" property="userName" />
		<result column="age" property="age" />
		<result column="phoneNumber" property="phoneNumber" />
	</resultMap>

	<resultMap type="com.billow.model.User" id="result" extends="result_base">
		<collection property="articles" javaType="ArrayList"
			column="userId" ofType="com.billow.model.Article"
			select="com.billow.mapper.ArticleMapper.findArticleByUserId" />
	</resultMap>

	<!-- 关联查询：关联字段user中的别名userid要与article中的userid相同 -->
	<select id="findUserList" resultMap="result" parameterType="com.billow.model.User">
		select
		u.userId,u.userName,u.age,u.phoneNumber from t_user u
		<where>
			<if test="userName != null">
				u.userName like CONCAT('%','${userName}','%')
			</if>
		</where>
	</select>
	<select id="findUserCount" resultType="int" parameterType="com.billow.model.User">
		select count(*) from t_user u
		<where>
			<if test="userName != null">
				u.userName like CONCAT('%','${userName}','%')
			</if>
		</where>
	</select>

	<select id="findUserById" resultMap="result_base">
		select r.*
		from t_user r
		where r.userId = #{userid};
	</select>

	<!-- useGeneratedKeys设置 为"true"表明要MyBatis获取由数据库自动生成的主 键； keyProperty="userId"指定把获取到的主键值注入到User的userId属性 -->
	<insert id="saveUserInfo" parameterType="com.billow.model.User"
		useGeneratedKeys="true" keyProperty="userId">
		insert into
		t_user(username,
		age,phoneNumber)
		values(#{userName}, #{age}, #{phoneNumber});
	</insert>

	<update id="updateUserInfo" parameterType="com.billow.model.User">
		update t_user r set
		r.userName = #{userName},r.age = #{age},r.phoneNumber = #{phoneNumber}
		where r.userId = #{userId};
	</update>

	<delete id="deleteUserByUserId" parameterType="int">
		delete from t_user
		where r.userId = #{userId};
	</delete>

	<delete id="deleteUserByUserIds" parameterType="int">
		delete from t_user
		where r.userId in
		<foreach collection="array" open="(" close=")" separator=","
			item="userId">
			#{userId};
		</foreach>
	</delete>
</mapper>